In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import re
from pandas.api.types import is_string_dtype, is_numeric_dtype

In [5]:
df = pd.read_csv('train.csv')

In [6]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [8]:
df.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [110]:
df = pd.read_excel('STEAG GARGAU.xlsx', skiprows=1, converters={'Data de execução':str})
                
cols = df.select_dtypes(object).columns
df[cols] = df[cols].apply(lambda x: x.str.strip())

df_original = df.copy()

df = df[df.columns.drop(list(df.filter(regex='(?<=\.)\d+')))]
df = df[df.columns.drop(list(df.filter(regex='Unnamed')))]

df = df[df['Data de execução'].notna()]
df['observacao'] = None

In [111]:
def validate(date_text):
    try:
        datetime.datetime.strptime(date_text, '%Y-%m-%d %H:%M:%S')
        return True
    except ValueError:
        return False

for index, row in df.iterrows():
  if not validate(row['Data de execução']):
      df.at[index, 'observacao'] = row['Data de execução']
      df.at[index, 'Data de execução'] = row['Iniciar']
    #   row['observacao'] = row['Data de execução']
    #   print(row.index)
    #   row['Data de execução'] = None
  
#     print(row['c1'], row['c2'])
# re.findall(r'[\d]{1,2}/[\d]{1,2}/[\d]{4}', file)[0]
# p = re.compile(r'[\d]{1,2}/[\d]{1,2}/[\d]{4}')
# df['valid'] = np.where(df['Data de execução'].str.contains(p), 1, 0)

In [112]:
# df['Data de execução'].unique()
df['Data de execução'] = pd.to_datetime(df['Data de execução']).dt.normalize()
#

In [113]:
df

,Manutenção recorrente,Identificador,Nome,Indicador,Iniciar,Data de execução,TepE [h],HH E [h],Projeto,Ativo,Descrição do ativo,TdM,Tipo de manutenção,observacao
0,SESBR.E-019 # GAR # GAR-C1,11847,Inspeção em subestações unitarias por Circuito,NaN,2019-12-09,2019-12-12,2.0,4.0,GAR,GAR-C1,Gargau - Circuito 1,MPT,SESBR.E-019 # Inspeção de subestações unitaria...,None
1,SESBR.E-019 # GAR # GAR-C2,11860,Inspeção em subestações unitarias por Circuito,NaN,2019-12-09,2019-12-12,2.0,4.0,GAR,GAR-C2,Gargau - Circuito 2,MPT,SESBR.E-019 # Inspeção de subestações unitaria...,None
2,SESBR.E-019 # GAR # GAR-C3,11870,Inspeção em subestações unitarias por Circuito,NaN,2019-12-09,2019-12-12,2.0,4.0,GAR,GAR-C3,Gargau - Circuito 3,MPT,SESBR.E-019 # Inspeção de subestações unitaria...,None
3,SESBR.E-019 # GAR # GAR-C4,11885,Inspeção em subestações unitarias por Circuito,NaN,2019-12-09,2019-12-12,2.0,4.0,GAR,GAR-C4,Gargau - Circuito 4,MPT,SESBR.E-019 # Inspeção de subestações unitaria...,None
4,O.S. EXTRA PROGRAMADA,13878,Controle de Vetores / Servet,NaN,2019-12-10,2019-12-13,4.0,8.0,GAR,GAR,Gargau,OUT,Manutenção manual / Ordem de serviço,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,SESBR.E-008 # GAR # SE,131495,Manutenção anual subestações coletoras e eleva...,CANCELADA,2021-10-25,2021-10-25,0.0,0.0,GAR,SE,Subestação Elevadora Gargau,MPT,SESBR.E-008 # Manutenção anual subestações col...,SERÁ REALIZADA NA M.G. EM 2022 - ( ATIVIDADE N...
1128,SESBR.E-008 # GAR # VC,131496,Manutenção anual subestações coletoras e eleva...,CANCELADA,2021-10-25,2021-10-25,0.0,0.0,GAR,VC,Vão de Conexão Santa Clara,MPT,SESBR.E-008 # Manutenção anual subestações col...,SERÁ REALIZADA NA M.G. EM 2022 - ( ATIVIDADE N...
1129,SESBR.G-015 # GAR # VC,137606,Inspeção em Subestação (Pátio e sala de painéis),NaN,2021-10-25,2021-10-28,2.0,4.0,GAR,VC,Vão de Conexão Santa Clara,MPT,SESBR.G-015 # Inspeção em Subestação (Pátio e ...,None
1130,O.S. EXTRA PROGRAMADA,138255,Manutenção no sistema de acionamento automátic...,NaN,2021-10-26,2021-10-25,2.0,4.0,GAR,GAR,Gargau,MC,Manutenção manual / Ordem de serviço,None
1131,SESBR.HSEQ-005 # GAR,136382,Treinamento Mensal HSEQ,NaN,2021-10-31,2021-10-28,1.0,1.0,GAR,GAR,Gargau,MPD,SESBR.HSEQ-005 # Treinamento HSEQ,None